<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <input type="number" v-model.number='age'> -->
        <!-- <input type="number" v-model='age'> -->
        <!-- <input type="text" v-model.trim='msg'> -->
        <!-- <input type="text" v-model='msg'> -->
        <input type="text" v-model.lazy='msg'>
        {{age + 1}}
        {{changeLength}}
    </div>
    <script src="./js/vue.js"></script>
    <!-- 常用的vue表单修饰符 -->
    <script>
        // .number 转换为数值
        // .trim 去除首位两端的空格
        // .lazy 将input 事件转换为change事件
        new Vue({
            el: '#app',
            data: {
                age: 0,
                msg: '',
            },
            computed: {
                changeLength() {
                    // console.log();
                    return this.msg.length
                }
            }
        })
    </script>
</body>
</html>