<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="">
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <span>名：</span>
            <span>
                <input type="text" v-model='firstName'>
            </span>
        </div>
        <div>
            <span>姓：</span>
            <span>
                <input type="text" v-model='lastName'>
            </span>
        </div>
        <div>{{fullName}}</div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                firstName: 'zs',
                lastName: 'kr',
                fullName: 'zs kr'
            },
            watch: {
                firstName: function(val) {
                    this.fullName = val +' ' + this.lastName
                },
                lastName: function(val) {
                    this.fullName =  this.firstName + ' ' + val
                },
            }
        })
    </script>
</body>

</html>