a {
  text-decoration: none;
}
html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  font-family: Arial, Helvetica;
  background-color: #f2f2f2;
}
.search-content {
  position: fixed;
  display: flex;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 1.76rem;
  background-color: #ffc001;
}
.search-content .classify {
  width: 0.88rem;
  height: 1.4rem;
  margin: 0.22rem 0.5rem 0.14rem 0.48rem;
  background: url(../images/classify.png) no-repeat;
  background-size: 0.88rem 1.4rem;
}
.search-content .search {
  flex: 1;
}
.search-content .search input {
  border: 0;
  width: 100%;
  height: 1.28rem;
  border-radius: 0.64rem;
  margin-top: 0.2rem;
  outline: none;
  background-color: #FFF2CC;
  padding-left: 1rem;
  font-size: 0.52rem;
}
.search-content .login {
  width: 1.5rem;
  height: 1.4rem;
  margin: 0.2rem;
  font-size: 0.48rem;
  text-align: center;
  line-height: 1.4rem;
  color: white;
}
.banner {
  width: 100%;
  height: 7.32rem;
}
.banner img {
  width: 100%;
  height: 100%;
}
.ad {
  display: flex;
  width: 100%;
}
.ad a {
  flex: 1;
}
.ad a img {
  width: 100%;
}
nav {
  display: flex;
  flex-flow: row wrap;
}
nav a {
  flex: 20%;
  height: 2.8rem;
  text-align: center;
  font-size: 0.4rem;
}
nav a img {
  width: 1.64rem;
  height: 1.64rem;
  margin-top: 0.2rem;
}
nav a p {
  margin-top: 0.4rem;
  color: #000;
}
.popu {
  display: flex;
}
.popu a:first-child {
  flex: 2;
}
.popu a:nth-child(n+2) {
  flex: 1;
  margin-left: 0.04rem;
}
.popu a img {
  width: 100%;
  height: 100%;
}
