* {
    margin: 0;
    padding: 0;
}

ul {
    position: absolute;
    width: 600%;
}
li {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
    color: #000;
    width: 100%;
}
ul li {
    float: left;
    width: 350px;
}
ul li a img {
    width: 100%;
}
.focus {
    position: relative;
    width: 350px;
    height: 220px;
    margin: 50px auto 0;
    /* border: 2px solid red; */
}
/* 左右的按钮 */
.arrow-l,
.arrow-r {
    position: absolute;
    width: 20px;
    height: 30px;
    background: rgba(0, 0, 0, 0.4);
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 30px;
    color: white;
    display: none;
    z-index: 1;
}
.arrow-l {
    left: 0;
    border-radius: 0 15px 15px 0;
}
.arrow-r {
    right: 0;
    border-radius: 15px 0 0 15px;
}
/* 小圆圈 */
ol {
    position: absolute;
    left: 20px;
    bottom: 4px;
}
ol li {
    float: left;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 7px;
    margin: 0 5px;
}
.pitch {
    background-color: white;
}
